.conteiner{
    justify-content: center;
    display: grid;
}
.dad{
    height: 292px;
}


li{
    display: flex;
    justify-content: center;
    background-color: #b3b0b0;
    height: 144px;
    
}
.main {
    display: flex;
    justify-content: space-between;
  }
  
  .product-wrap {
    width: 65%;
  }
  
  .product-details {
    width: 30%;
  }
  
  .visualizer {
    border: black;
    border-style: groove;
    position: relative;
    width: 54%;
    height: 331px;
    left: 221px;
  }
  
  .visualizer__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .visualizer__joke {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .with-black-img {
    color: #fff;
  }
  
  .other-products__wrapper {
    display: flex;
    justify-content: space-between;
    width: 56%;
    margin-left: 275px;
  }
  
  .other-products__btn {
    width: 30%;
    height: 30%;
    height: 350px;
    border: 3px solid;
  }
  
  .other-products__btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .buttom__color{
    display: flex;
  }

  .buttom__zise{
    height: 30px;
    width: 35px;
  }

  .title__product{
    margin-left: 40%;
    margin-top: 10%;
    margin-bottom: 53px;
  }
  .randomJokeButton__style{
    margin-top: 61px;
    background: tomato;
    border-radius: 9px;
    padding: 15px;  
  }